<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% assign first_char = link.url | slice: 0, 1 %}
		    {% if first_char == '/' %}
		        {% assign domain = site.url %}
		        {% else %}
		        {% assign domain = '' %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains '://' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}